<section class="products products__section">
  <div class="products__container">
    <p class="products__uppertitle products__uppertitle--position animate__animated animate__bounce">
      100% natural
    </p>
    <h2 class="products__title products__title--position animate__animated animate__bounce">products</h2>

    <ul class="products__list">
      <li class="products__item">
        <div class="products__desc products__desc--ice-crem">
          <h3 class="products__subtitle products__subtitle--position animate__animated animate__pulse">
            ice cream
          </h3>
          <p class="products__text animate__animated animate__heartBeat">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
      </li>

      <li class="products__item">
        <div class="products__desc products__desc--coffee">
          <h3 class="products__subtitle products__subtitle--position animate__animated animate__pulse">
            ice coffee
          </h3>
          <p class="products__text animate__animated animate__heartBeat">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
      </li>

      <li class="products__item">
        <div class="products__desc products__desc--shake">
          <h3 class="products__subtitle products__subtitle--position animate__animated animate__pulse">
            milkshakes
          </h3>
          <p class="products__text animate__animated animate__heartBeat">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
